.mtfDoc-tab {
  &-header {
    display: flex;
    border-bottom: solid 1px #88929bff;
    margin-bottom: 20px !important;
    margin-right: 32px;
  }

  &--button {
    padding: 12px 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    color: #21272cff;
    border-bottom: solid 2px transparent;
    transition: all 0.2s;

    &.active {
      color: #0083cbff;
      border-bottom: solid 2px #0083cbff;
    }
  }
}
.sbdocs:has(.tab-hide-toc) .sbdocs-toc--custom {
  display: none !important;
}
