name: Check Branch Name

on:
  pull_request_target:

permissions:
  pull-requests: read
  contents: none

jobs:
  prepare:
    name: Check Branch name
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        run: |
          if [[ "${GITHUB_HEAD_REF}" =~ ^(bugfix|hotfix|test|feature)/EDKUI-[0-9]+/[a-zA-Z0-9_-]+$ || "${GITHUB_HEAD_REF}" == "main" ]]; then
            echo "✅ Branch name is valid."
          else
            echo "❌ Invalid branch name: ${GITHUB_HEAD_REF}"
            exit 1
          fi
