name: Node CI Pipeline

on:
  workflow_call:
    secrets:
      CHROMATIC_PROJECT_TOKEN:
        required: true

jobs:
  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps
      - run: npm run build:lib

  test:
    name: Lint & Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps
      - run: |
          npm run lint
          npm run type-check
          npm run test:ci

  chromatic:
    name: Chromatic Publish
    runs-on: ubuntu-latest
    needs: [build, test]
    environment: production
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-node-deps

      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: true
          exitZeroOnChanges: true
