name: Node CI Pipeline

on:
  workflow_call:

jobs:
  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps
      - run: npm run build:lib

  test:
    name: Lint & Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps
      - run: |
          npm run lint
          npm run type-check
          npm run test:ci

  internal_issue:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Check Internal Issue
        if: contains(github.event.pull_request.labels.*.name, 'internal')
        uses: ./.github/actions/check-internal-issue
