name: CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ###########################
  ######## prepare ##########
  ###########################
  prepare:
    name: Prepare checks
    runs-on: ubuntu-latest
    container: node:24.11.0
    if: github.ref != 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Check branch name
        shell: bash
        run: |
          BRANCH_NAME="${{ github.head_ref }}"
          if [[ $BRANCH_NAME =~ ^(bugfix|hotfix|test|feature)/EDKUI-[0-9]+/[a-zA-Z0-9_-]+$ ]]; then
            echo "✅ Branch name is valid."
          else
            echo "❌ Invalid branch name: $BRANCH_NAME"
            exit 1
          fi

  ###########################
  ######## install ##########
  ###########################
  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    container: node:24.11.0
    needs: prepare

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            node_modules
            .npm
          key: ${{ runner.os }}-node-${{ hashFiles('package-lock.json') }}

      - name: Install deps
        run: |
          npm install --cache .npm --prefer-offline

  ###########################
  ######## build ############
  ###########################
  build:
    name: Build
    runs-on: ubuntu-latest
    container: node:24.11.0
    needs: install

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          npm install --cache .npm --prefer-offline

      - name: Build library
        run: npm run build:lib

      - name: Upload dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  ###########################
  ######## test #############
  ###########################
  test:
    name: Lint & Unit Tests
    runs-on: ubuntu-latest
    container: node:24.11.0
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          npm install --cache .npm --prefer-offline

      - name: Lint & type check
        run: |
          npm run lint
          npm run type-check

      - name: Unit tests
        run: npm run test:ci

  ###########################
  ###### deploy (test) ######
  ###########################
  deploy-to-build:
    name: Deploy to build (storybook)
    runs-on: ubuntu-latest
    container: node:24.11.0
    needs: [build, test]

#    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          npm install --cache .npm --prefer-offline

      - name: Build storybook
        run: npm run build:storybook

  ###########################
  ###### chromatic ##########
  ###########################
  chromatic:
    name: Chromatic Publish
    runs-on: ubuntu-latest
    needs: [build, test]
#    if: github.ref == 'refs/heads/main'
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.11.0'
          cache: 'npm'

      - name: Mark repo as safe for git
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Install deps
        run: |
          npm install --cache .npm --prefer-offline

      - name: Chromatic publish
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: true
          exitZeroOnChanges: true

  ###########################
  ######## release ##########
  ###########################
  release:
    name: Release
    runs-on: ubuntu-latest
    container: node:24.11.0
    needs: build

    env:
      HUSKY: 0
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Prepare npmrc
        run: |
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" > .npmrc

      - name: Install deps
        run: |
          npm install --cache .npm --prefer-offline

      - name: Build library
        run: npm run build:lib

      - name: Semantic Release
        run: npx semantic-release
