name: Pull Request
on:
  pull_request:

jobs:
  prepare:
    name: Check Branch name
    runs-on: ubuntu-latest
    steps:
      - name: Check branch name
        shell: bash
        run: |
          BRANCH_NAME="${GITHUB_HEAD_REF}"
          if [[ "$BRANCH_NAME" =~ ^(bugfix|hotfix|test|feature)/EDKUI-[0-9]+/[a-zA-Z0-9_-]+$ || "$BRANCH_NAME" == "main" ]]; then
            echo "✅ Branch name is valid."
          else
            echo "❌ Invalid branch name: $BRANCH_NAME"
            exit 1
          fi
  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps
      - name: Build library
        run: npm run build:lib
      - name: Upload dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  test:
    name: Lint & Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps
      - name: Lint & type check
        run: |
          npm run lint
          npm run type-check
      - name: Unit tests
        run: npm run test:ci

  deploy-to-build:
    name: Deploy to Build (storybook)
    runs-on: ubuntu-latest
    needs: [build, test]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps
      - name: Build storybook
        run: npm run build:storybook