name: Pull Request

on:
  pull_request:

jobs:
  prepare:
    name: Check Branch name
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        run: |


  ci:
    needs: prepare
    uses: ./.github/workflows/ci-node.yml
