name: Pull Request

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write

jobs:
##  ci:
##    uses: ./.github/workflows/ci-node.yml


    chromatic:
      name: Run Chromatic
      environment: development
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v5
          with:
            fetch-depth: 0
        - uses: actions/setup-node@v6
          with:
            node-version: 24.13.0
        - name: Install dependencies
          run: npm ci
        - name: Run Chromatic
          uses: chromaui/action@latest
          with:
            projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}