name: pull_request
on:
  pull_request:

jobs:
  job1: &setup_steps
    - uses: actions/checkout@v4
    - name: Setup Node & Cache
      uses: actions/setup-node@v4
      with:
        node-version: 24.11.0
        cache: 'npm'
    - name: Install deps
      run: npm ci

  prepare:
    name: Check Branch name
    runs-on: ubuntu-latest
    steps:
      - name: Check branch name
        shell: bash
        run: |
          BRANCH_NAME="${GITHUB_HEAD_REF}"
          if [[ "$BRANCH_NAME" =~ ^(bugfix|hotfix|test|feature)/EDKUI-[0-9]+/[a-zA-Z0-9_-]+$ || "$BRANCH_NAME" == "main" ]]; then
            echo "✅ Branch name is valid."
          else
            echo "❌ Invalid branch name: $BRANCH_NAME"
            exit 1
          fi

  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - uses: .github/workflows/setup-node-npm

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: install
    steps:
      - uses: .github/workflows/setup-node-npm
      - name: Build library
        run: npm run build:lib
      - name: Upload dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  test:
    name: Lint & Unit Tests
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: .github/workflows/setup-node-npm
      - name: Lint & type check
        run: |
          npm run lint
          npm run type-check
      - name: Unit tests
        run: npm run test:ci

  deploy-to-build:
    name: Deploy to Build (storybook)
    runs-on: ubuntu-latest
    needs: [build, test]
    steps:
      - uses: .github/workflows/setup-node-npm
      - name: Build storybook
        run: npm run build:storybook