name: Pull Request

on:
  pull_request:

jobs:
  prepare:
    name: Check Branch name
    runs-on: ubuntu-latest
    steps:
      - shell: bash
        run: |
          if [[ "${GITHUB_HEAD_REF}" =~ ^(bugfix|hotfix|test|feature)/EDKUI-[0-9]+/[a-zA-Z0-9_-]+$ || "${GITHUB_HEAD_REF}" == "main" ]]; then
            echo "✅ Branch name is valid."
          else
            echo "❌ Invalid branch name: ${GITHUB_HEAD_REF}"
            exit 1
          fi
      - name: Check Internal Issue Reference
        if: contains(github.event.pull_request.labels.*.name, 'internal')
        uses: ./.github/actions/check-internal-issue

  ci:
    needs: prepare
    uses: ./.github/workflows/ci-node.yml
