name: Pull Request

on:
  pull_request:

permissions:
  contents: read

jobs:
  ci:
    uses: ./.github/workflows/ci-node.yml

  chromatic:
    name: Chromatic Publish
    runs-on: ubuntu-latest
    needs: [ ci ]
    environment: production
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: 'false'

      - uses: ./.github/actions/setup-node-deps

      - run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: true
          exitZeroOnChanges: true
