name: push.yml

on:
  push:
    branches:
      - main

jobs:

  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node & Cache
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.0
          cache: 'npm'
      - name: Install deps
        run: npm ci

  ###########################
  ######## build ############
  ###########################
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node & Cache
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.0
          cache: 'npm'
      - name: Install deps
        run: npm ci

      - name: Build library
        run: npm run build:lib

      - name: Upload dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  ###########################
  ######## test #############
  ###########################
  test:
    name: Lint & Unit Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node & Cache
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.0
          cache: 'npm'
      - name: Install deps
        run: npm ci

      - name: Lint & type check
        run: |
          npm run lint
          npm run type-check

      - name: Unit tests
        run: npm run test:ci

  ###########################
  ###### deploy (test) ######
  ###########################
  deploy-to-build:
    name: Deploy to Build (storybook)
    runs-on: ubuntu-latest
    needs: [ build, test ]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Node & Cache
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.0
          cache: 'npm'
      - name: Install deps
        run: npm ci

      - name: Build storybook
        run: npm run build:storybook

  ###########################
  ###### chromatic ##########
  ###########################
  chromatic:
    name: Chromatic Publish
    runs-on: ubuntu-latest
    environment: production
    needs: [ build, test ]
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node & Cache
        uses: actions/setup-node@v4
        with:
          node-version: 24.11.0
          cache: 'npm'
      - name: Install deps
        run: npm ci

      - name: Mark repo as safe for git
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Chromatic publish
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: true
          exitZeroOnChanges: true

