name: Main Push

on:
  push:
    branches:
      - main

jobs:

  ###########################
  ######## install ##########
  ###########################
  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps

  ###########################
  ######## build ############
  ###########################
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: install

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps

      - name: Build library
        run: npm run build:lib

      - name: Upload dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  ###########################
  ######## test #############
  ###########################
  test:
    name: Lint & Unit Tests
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-node-deps

      - name: Lint & type check
        run: |
          npm run lint
          npm run type-check

      - name: Unit tests
        run: npm run test:ci

  ###########################
  ###### chromatic ##########
  ###########################
  chromatic:
    name: Chromatic Publish
    runs-on: ubuntu-latest
    environment: production
    needs: [ build, test ]
    continue-on-error: true

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: ./.github/actions/setup-node-deps

      - name: Mark repo as safe for git
        run: git config --global --add safe.directory "$GITHUB_WORKSPACE"

      - name: Chromatic publish
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: true
          exitZeroOnChanges: true

